html, body{
   margin: 0 !important;
   padding: 0 !important;
}

.header {
  background-image: url(http://il5.picdn.net/shutterstock/videos/15385477/thumb/1.jpg);
  height: 500px;
  background-position: top center;
  margin-top: 0px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  color: #7fffd4;
}

h1{
  text-align: center;
  font-size: 100px;
}
