*{
 margin: 0px;
    padding: 0px;
}

.header {
  background-image: url(http://il5.picdn.net/shutterstock/videos/15385477/thumb/1.jpg);
  height: 500px;
  background-origin: border-box;
  color: #7fffd4;
}

h1{
  text-align: center;
  font-size: 100px;
 margin-top: 2cm;
}
