html, body{
  margin: 0;
}

.header {
  background-image: url(http://il5.picdn.net/shutterstock/videos/15385477/thumb/1.jpg);
  height: 500px;
  background-position: top;
  margin: 0;
  color: #7fffd4;
}

h1{
  text-align: center;
  font-size: 100px;
}
